html{
    font-size: .7320644217vw;

    min-height: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;

    box-sizing: border-box;
}

*, :before, :after{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0!important;
}

body{
    color: #363535;
    font-family: Favorit,arial,sans-serif;
    font-size: 1.6rem;
    letter-spacing: 0;
    line-height: 1.4375;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    background: #fff;
    background: #262424;
}